:root {
    
    --body-color: #f0f0f5;
    --primary-color: #002699;
    --sidebar-color: #ffffffe5;
    --text-color: #002699b8;
    --highlight-color:rgb(14, 161, 187);

}

.cms_home_page_content{
    position: absolute;
    margin-left: 280px;
    height: auto;
    min-height: 100%;
    /* width: auto; */
    min-width: 75%;
    padding:  20px 20px 20px 20px;
    border-radius: 30px;
    background: #ededed;
    box-shadow: 20px 20px 60px #c9c9c9,
        -20px -20px 60px #ffffff;
}
.cms_home_page_title h1{
    color: var(--highlight-color);
}
.navigation {
    left: 0;
    list-style-type: none;
    display: flex;
}

li.navigation-item a {
    color: var(--text-color);
    text-decoration: none;
    border-radius: 10px;
    align-items: center;
}

li.navigation-item a:hover {
    color: var(--highlight-color);
}

li.navigation-icon .dropdown {
    color: var(--text-color);
    font-weight: 1000;
    font-size: 20px;
        
}

.title h3{
    color: #000000c2; 
    border-radius: 30px;
    background: var(--highlight-color);
    text-align: center;
}

.container{
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    margin: 0% 5%;
}

.container .card1{
    display: block;
    border-radius: 30px;
    height: 50%;
    width:40%;
    margin: 0% 2%;
    padding: 1% 1%;
    background: #f3f3f3;
    align-content: center;
}

.container .card2{
    display: block;
    border-radius: 30px;
    height: 50%;
    width:40%;
    margin: 0% 2%;
    padding: 1% 1%;
    background: #f3f3f3;
    align-content: center;
}

.cms_au_img{
    border-radius: 20px;
    height: 250px;
    width: 100%;
}
