@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}

:root {
    
    --body-color: #f0f0f5;
    --primary-color: #002699;
    --sidebar-color: #ffffffe5;
    --text-color: #002699b8;
    --highlight-color:rgb(14, 161, 187);

}

body {
    background: #e0e0e0;

}
.sidebar {
    padding: 0px 10px 25px 10px;
    position:absolute;
    min-width: 250px;
    min-height: 100%;
    height: auto;
    width: 250px;
    border-radius: 30px;
    background: #e0e0e0;    
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;

}

.sidebar .admin_logo img {
    padding: 13px 14px;
    width: 50px;
    height: 40px;
    padding-right: 20px;
}

.sidebar .admin_logo {
    display: flex;
    align-items: center;
}

.sidebar header .admin_header_text {
    display: flex;
    flex-direction: column;
}

.admin_header_text {
    /* color: var(--text-color); */
    color: var(--highlight-color);
    font-weight: 600;
    font-size: 18px;
}

i:hover{
    /* font-size: 20px;  */
    color: var(--highlight-color);

}
.item .dropdown {
    position: absolute;
    right: 0;
    margin-right: 20px;
    font-weight: 600;
    font-size: 20px;
}

header a{
    text-decoration: none;
}

.item .sub_menu_btn{
    cursor: pointer;
}

.item a {
    color: var(--text-color);
    text-decoration: none;
    display: block;
    margin-top: 12px;
    font-size: 18px;
    font-weight: 500;
    padding: 10px 25px;
    border-radius: 10px;
    background: #e0e0e0;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.sub_menu_item a{
    border-radius: 10px;
    background: #cecece;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.sub_menu_item i{
    margin-left: 10%;
}

.sub_menu{
    color: var(--text-color);
    display: none;
    border-radius: 10px;
}

.rotate{
    transform: rotate(90deg);
}



